.App {
  text-align: center;
  font-family: 'Montserrat';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.chart-body {
  background-color: white;
}

.chart-display{
  width: 500px;
  height: 300px;
  margin: 20px;
  float: left;
}

.ant-card-head {
  background-color: #87CEFA;
}

.body-bg {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85)), url("./images/marble.jpg");
}

.clear {
  clear: both;
}

.tabs-style {
  background-color: red !important;
}

/*********************************Model Insights CSS*******************************************/
.model-insights {
  margin: auto;
  width: 800px;
  padding-top: 50px;
}

/************************************Caption CSS**********************************************/
.caption-head {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 500px;
}

.caption-body {
  width: 700px;
  margin: auto;
  padding-top: 30px;
}

.caption-body-right {
  float: right
}

.caption-chart {
  padding-top: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/************************************Landing CSS**********************************************/
.landing {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.85)), url("./images/phone.jpg");
}

.centered {
  font-family: 'Trebuchet MS';
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  color: #7892c2;
  border-radius: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tagline {
  font-size: 20px;
  font-weight: 400;
  color: silver;
}

.landingbutton {
	-moz-box-shadow: 0px 0px 0px 0px #40e0d0;
	-webkit-box-shadow: 0px 0px 0px 0px #40e0d0;
	box-shadow: 0px 0px 0px 0px #40e0d0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:2px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Trebuchet MS';
	font-size:20px;
	font-weight:bold;
	padding:5px 50px;
	text-decoration:none;
	text-shadow:0px 1px 21px #283966;
}
.landingbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.landingbutton:active {
	position:relative;
	top:1px;
}
